*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}

/* ---------------
nav bar styles
------------------
 */
nav{
  background: rgba(255, 144, 14, 0.1);
  height: fit-content;
  width: 100%;
}
.logo{
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  padding: 0 100px;
}
nav ul{
  float: right;
  margin-right: 240px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 7px;
  
}
nav ul li:hover{
  background-color: rgb(255, 179, 0);
  transform: scale(.5) rotate(360deg);
  transition: all 3s;
}

nav ul li a{
  color:black;
  font-size: 15px;
  padding: 5px;
  
}
.active, a:hover{
  background-color: rgb(93, 219, 125);
 
}
.checkbtn{
  font-size: 20px;
  color: black;
  line-height: 80px;
  margin-left: 20px;
}
#check{
  display: none;
}

/* ------------
banner page
--------------- */
.banner-sec{
  margin-top: 40px;
  text-align: center;
}
.banner-title{
  font-weight: 700;
  font-size: 64px;
}
.banner-des{
  font-weight: 400;
  font-size: 16px;
  color: #727272; 
  margin-top: 10px;
}
.explore-btn{
  font-weight: 600;
  font-size: 20px;
  height: 64px;
  color: white;
  background: #FF900E;
  border-radius: 8px;
  border: none;
  padding: 21px 25px;
  margin-top: 24px;
  align-items: center;
  margin-bottom: 50px;
}
.explore-btn:hover{
  background-color: aqua;
  color:rgb(255, 0, 0);
  transform: scale(.5) rotate(360deg);
  transition: all 4s ease;
}
.banner{
  display:grid;
  place-items: center;
 }
 .banner-img img{
   width: 90%;
   height: auto;
   margin: 45px 60px;
 }

 /* --------------
 main section style
 ------------------- */
.main-top{
  margin-top: 85px;
  display: flex;
 }
.main-top-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 80px;
 }
 .main-top-img img{
  padding: 5px;
  width: 300px;
  height: 300px;
 }
 
 
.main-top-detail{
  margin-left: 50px;
  margin-top: 150px;
 }
.main-top-title{
  font-weight: 500;
  font-size: 45px;
 }
.text-1{
  color: #727272;
 }
.text-2{
  color: #131313;
  font-weight: bold;
 }
.text-3{
  color: #FF900E;
  font-weight: bold;
 }
.main-top-des{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 24px;
 }
 /* ------------
 main bottom style
 ----------------- */
.main-bottom{
  display: flex;
  margin-top: 130px;
  margin-left: 150px;
  column-gap: 10%;
}
.bottom-title{
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
  border-left: 5px solid #FF900E;
  padding: 10px;
  
}
.bottom-des{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}
.sub-sec{
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 25px 30px;
}
.bottom-sub{
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  margin-bottom: 5px;
}
.sub-des{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.bottom-right img{
  width: 400px;
  height: 700px;
}
.experience-time{
  background: #FF900E;
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 100px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
}
.experience-time:hover{
  color: aqua;
  background: #727272;
}
.time-bold{
  font-weight: 700;
  font-size: 45px;
}
.bottom-btn{
  margin: -80px -80px;
}

/* ---------------------
Footer section style
---------------------- */
.footer{
  margin-top: 130px;
  margin-left: 150px;
}

.upper-title{
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.upper-des{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.icons{
  margin-top: 100px;
  margin-left:0;
  display: flex;
  
}
.icon{
  width: 200px;
  height: 200px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  transform: rotate(360deg);
  margin-right: 80px;
  display: grid;
  align-content: center;
  justify-content: center;
  
  
}

.icon:hover{
  background-color: #2d9733;
  border: 1.5px solid #000000;
}
.transform{
  display: grid;
  justify-items: center;
}
.transform:hover{
  background-color: #ffffff;
  transform:scale(.75) rotate(45deg);
  transition:all 3s ease;
 
}
.number{
  font-weight: 600;
  font-size: 45px;
  color: #424242;
 justify-content: center;
}
.icon-des{
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
.foooter-lower-sec{
  margin-top: 180px;
}
.footer-lower-title{
 text-align: center;
 font-weight: 700;
 font-size: 45px;
 color: #131313;
 margin-bottom: 24px;
}
.footer-lower-des{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 50px;

}
.sponsors img{
  width: 100.83px;
  height: 50px;
  margin-right: 80px;
  margin-bottom: 130px;
  filter: grayscale(10);
}
.sponsors img:hover{
  filter: none;
  background-color: #0b44d4;
} 
.footer-bootom{
  background: #FFF4E7;
  border-radius: 8px;
  width: 1000px;
  height: 80px;
  margin-left: -50px;
  margin-bottom: 216px;
}
.footer-bootom-des{
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  text-align: center;
  line-height: 80px;
}
 
 @media screen and (max-width: 768px) {
  ul{
   position: fixed;
   width: 100%;
   height:fit-content;
   background-color: rgb(93, 99, 87);
   text-align: center;
   left: -100%;
   transition:all .5s;
   
  }
  nav ul li{
   display: block;
  }
  #check:checked ~ ul{
   left: 0;
  }
  .banner-img img{
    width: 100%;
    height: auto;
    margin: 45px 0;
  }
 
  .logo{
    font-size: 30px;
    float: right;
   }
   .main-top{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
   .main-top-img{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    margin-left:10%;
   }
   .main-top-detail{
    margin-top: 7%;
    margin-left: 7PX;
   }
   .main-bottom{
    display: flex;
    flex-direction: column; 
    margin-left: 0;
  }
  .bottom-title{
    margin-left:20px;
  }
  .bottom-des{
    margin: 20px;
  }
  .bottom-right img{
    width: 100%;
    height: 60vh; 
  }
  .experience-time{
    font-size: 7px;
  }
  .bottom-btn{
    width: 100%;
  }
  .bottom-btn{
    margin: -30px -30px;
  }
  .time-bold{
    font-size: 20px;
  }
  .icons{
    margin-left: -20px;
    flex-direction: column;
    
  }
  .icon{
    margin-bottom: 10px;
  }
  
  .footer{
    margin-top: 230px;
    margin-left: 120px;
    width: 100%;
  }
  .footer-upper-sec{
    width: 100%;
    margin-left: -110px;
  }
  .footer-lower-title{
   margin-left: -260px ;
  }
  .footer-lower-des{
    margin-left: -260px; 
    font-size: 3vw;
  }
  .sponsors{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: -100px;
  }
  .footer-bootom{
    background: #FFF4E7;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    margin-bottom: 150px;
    margin-left: -72px;
  
  }
  .footer-bootom-des{
    font-weight: 100;
    font-size: 15px;
    color: #ff0505;
    padding-top: 20px;
    justify-items: center;
    align-items: center;
    
  }
  html,body{
    overflow-x: hidden;
    
  }
}
